<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>probability</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
</head>

<body>
    <div id="app-div">
        <label for="">total hands to draw</label>
        <input type="number" id="total_hands_to_draw" placeholder="total hands to draw" v-model="total_hand">
        <button v-on:click="start">start</button>
        <label>draw hand / win hand</label>
        <label>{{draw_number}} / {{win_number}}</label>
        <!-- all wining hands -->
        <div>
            <h1>all hands</h1>
            <div v-for="(hand, index) in wining_hands">
                <div v-for="card in hand" class="cart-item-choose-small">
                    <img v-bind:src="'cards/'+card+'.png'" class="card-image">
                </div>
                <button v-on:click="remove_this_hand(index)">remove</button>
            </div>
        </div>
        <div class="choose-card-container">
            <h2>choose card</h2>
            <div v-for="item in card_for_choose" class="cart-item-choose" v-bind:class="{ 'cart-item-choose-1': item.is_choosen }">
                <img v-bind:src="'cards/'+item.value+'.png'" class="card-image" alt="" v-on:click="click_choose(item.value-1)">
            </div>
        </div>

        <div class="wining_hands_container temp" style="width: 500px;">
            <template v-for="item in card_for_choose">
            <div class="cart-item-choose" v-if="item.is_choosen" v-on:click="click_choose(item.value-1)">
                <img  v-bind:src="'cards/'+item.value+'.png'" class="card-image">
            </div>
            </template >
        <br/>
        <button v-on:click="add_hand()">add this hand</button>
        </div>
    </div>

       
    
    <script src="core.js"></script>
    <h1>top ge ------</h1>
     <div id="top-ge-counter-container" data-site-id="117710"></div>
            <script async src="//counter.top.ge/counter.js"></script>
    
</body>

</html>
